.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: black;
  box-sizing: border-box;
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  color: var(--text-secondary-color);
  border-radius: 16px;
  text-align: center;
}

/* .card {
  
} */

.card header {
  background-color: transparent;
  position: static;
  display: block;
  padding: 0;
}

.card header p {
  font-weight: var(--text-font-weight);
  font-size: 20px;
}

.card header h3 {
  margin: 8px 0 0;
  font-size: 40px;
  font-weight: var(--text-font-weight);
  font-weight: var(--title-font-weight);
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
  margin-bottom: 24px;
}

.japao {
  background: url("../img/bg-card-japao.jpg") no-repeat;
  background-size: cover;
}

.san-andreas {
  background: url("../img/bg-card-san-andreas.jpg") no-repeat;
  background-size: cover;
}

.paraiba {
  background: url("../img/bg-card-paraiba.jpg") no-repeat;
  background-size: cover;
}

.manaus {
  background: url("../img/bg-card-manaus.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {

  .offers-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 1024px) {

  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }

}


@media screen and (min-width: 1325px) {

  .card {
    width: 588px;
    height: 308px;
  }

}

@media screen and (min-width: 1440px) {

  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }

}

