/* eric meyer's reset, 2.0 */
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Includes semantic HTML5 display rules */